In [9]:
#End-To-End Python Project Centered around data exploration,manipulation, and visualization
#   About the Data: 
#       This data is historical data for Bike Sharing in London. The intention of this dataset was to try and predict the number of bike shares in the future 
#
#   Columns: 
#       "timestamp" - timestamp field for grouping the data
#       "cnt" - the count of a new bike shares
#       "t1" - real temperature in C
#       "t2" - temperature in C "feels like"
#       "hum" - humidity in percentage
#       "wind_speed" - wind speed in km/h
#       "weather_code" - category of the weather
#       "is_holiday" - boolean field - 1 holiday / 0 non holiday
#       "is_weekend" - boolean field - 1 if the day is weekend
#       "season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.

#   "weathe_code" category description:
#   1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 2 = scattered clouds / few clouds 3 = Broken clouds 4 = Cloudy 7 = Rain/ light Rain shower/ Light rain 10 = rain with thunderstorm 26 = snowfall 94 = Freezing Fog



#Import pandas library for data exploration/manipulation 
import pandas as pd

#Import kaggle library to download the dataset from kaggle programtically (can do it from the website and drop it your project folder) 
import kaggle

In [10]:
# download data from kaggle using the Kaggle API 
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Downloading london-bike-sharing-dataset.zip to c:\Users\Griffin Bohannon\Desktop\Coding\Python\Projects\End-to-End

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:04<00:00, 35.5kB/s]
100%|██████████| 165k/165k [00:04<00:00, 35.5kB/s]

In [11]:
#Extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [18]:
#read the csv as a pandas Dataframe
df = pd.read_csv('london_merged.csv')

(17414, 10)

In [19]:
#Explore the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [20]:
#find the size of the dataset | output is going to be in (Rows, Columns)
df.shape

(17414, 10)

In [21]:
#Preview the Dataset
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [25]:
#Renaming column names for readability 
new_cols_dict = {"timestamp"   : "time",
                 "cnt"         : "count",
                 "t1"          : "real_temp_C",
                 "t2"          : "temp_feels_like_C",
                 "hum"         : "humitiy",
                 "wind_speed"  : "wind_speed_kpm",
                 "weather_code": "weather",
                 "is_holiday"  : "is_holiday",
                 "is_weekend"  : "is_weekend",
                 "season"      : "season"}

df.rename(new_cols_dict, axis=1, inplace=True)

In [35]:
#Count the Number of distinct values in the weather column to see if all types of weather occur (looks like everything appears but freezing fog)
df.weather.value_counts()

weather
Clear                      6150
Scattered clouds           4034
Broken clouds              3551
Rain                       2141
Cloudy                     1464
Snowfall                     60
Rain with thunderstorms      14
Name: count, dtype: int64

In [32]:
#creating a season dictionary to map the numbers to there respective written values
season_dict = {"0.0" : "spring",
               "1.0" : "summer",
               "2.0" : "autumn",
               "3.0" : "winter"}

#Creating a weather dictionary to map the numbers to there respective written values
weather_dict = {"1.0" : "Clear",
                "2.0" : "Scattered clouds",
                "3.0" : "Broken clouds",
                "4.0" : "Cloudy",
                "7.0" : "Rain",
                "10.0" : "Rain with thunderstorms",
                "26.0" : "Snowfall"}

#Changing the seasons column data type to string
df.season = df.season.astype("str")
#Mapping the season values to the written values
df.season = df.season.map(season_dict)

#Changing the Weather column data type to string
df.weather = df.weather.astype("str")
#Mapping the Weather values to the written values
df.weather = df.weather.map(weather_dict)

In [34]:
df.weather.value_counts()

weather
Clear                      6150
Scattered clouds           4034
Broken clouds              3551
Rain                       2141
Cloudy                     1464
Snowfall                     60
Rain with thunderstorms      14
Name: count, dtype: int64

In [36]:
#Checking to make sure everything in the dataframe is mapped correctly 
df.head(20)

,time,count,real_temp_C,temp_feels_like_C,humitiy,wind_speed_kpm,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,Clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,Cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,Cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,Cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,Broken clouds,0.0,1.0,winter
10,2015-01-04 10:00:00,528,3.0,-0.5,93.0,12.0,Broken clouds,0.0,1.0,winter
11,2015-01-04 11:00:00,727,2.0,-1.5,100.0,12.0,Broken clouds,0.0,1.0,winter
12,2015-01-04 12:00:00,862,2.0,-1.5,96.5,13.0,Cloudy,0.0,1.0,winter
13,2015-01-04 13:00:00,916,3.0,-0.5,87.0,15.0,Broken clouds,0.0,1.0,winter
14,2015-01-04 14:00:00,1039,2.5,0.0,90.0,8.0,Broken clouds,0.0,1.0,winter
15,2015-01-04 15:00:00,869,2.0,-1.5,93.0,11.0,Broken clouds,0.0,1.0,winter
16,2015-01-04 16:00:00,737,3.0,0.0,93.0,12.0,Broken clouds,0.0,1.0,winter
17,2015-01-04 17:00:00,594,3.0,0.0,93.0,11.0,Broken clouds,0.0,1.0,winter
18,2015-01-04 18:00:00,522,3.0,1.5,93.0,6.5,Broken clouds,0.0,1.0,winter
19,2015-01-04 19:00:00,379,3.0,1.0,93.0,7.0,Broken clouds,0.0,1.0,winter

In [ ]:
#writing final dataframe to an excel file that will be used in PowerBi visualizations. 
df.to_excel('london_bikes_final.xlsx', sheet_name="Data")